public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen hoveredSlot
public net.minecraft.client.renderer.ItemInHandRenderer renderArmWithItem(Lnet/minecraft/client/player/AbstractClientPlayer;FFLnet/minecraft/world/InteractionHand;FLnet/minecraft/world/item/ItemStack;FLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;I)V
public net.minecraft.world.effect.MobEffectInstance duration
public net.minecraft.world.effect.MobEffectInstance amplifier
public net.minecraft.world.entity.LivingEntity lastDamageStamp
public-f net.minecraft.world.item.CreativeModeTab displayName
public net.minecraft.world.entity.LivingEntity jumping
# for pixelate buffer
public net.minecraft.client.renderer.RenderType$CompositeState shaderState
public net.minecraft.client.renderer.RenderType$CompositeState textureState
public net.minecraft.client.renderer.RenderType$CompositeState transparencyState
public net.minecraft.client.renderer.RenderType$CompositeState depthTestState
public net.minecraft.client.renderer.RenderType$CompositeState cullState
public net.minecraft.client.renderer.RenderType$CompositeState lightmapState
public net.minecraft.client.renderer.RenderType$CompositeState overlayState
public net.minecraft.client.renderer.RenderType$CompositeState writeMaskState
public net.minecraft.client.renderer.RenderType$CompositeState outlineProperty

public net.minecraft.network.chat.Style Style(Lnet/minecraft/network/chat/TextColor;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/network/chat/HoverEvent;Ljava/lang/String;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.client.renderer.PostChain passes

public net.minecraft.client.MouseHandler xpos
public net.minecraft.client.MouseHandler ypos

public net.minecraft.world.level.block.ConcretePowderBlock concrete
